.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-top: 2px solid var(--border-color);
  flex-wrap: wrap;
}

.footer-section {
  width: 23%;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--text-color);
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}